{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}eCommerce Add Product - Apps{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/quill/typography.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/quill/katex.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/quill/editor.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/dropzone/dropzone.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/tagify/tagify.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/quill/katex.js' %}"></script>
<script src="{% static 'vendor/libs/quill/quill.js' %}"></script>
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'vendor/libs/dropzone/dropzone.js' %}"></script>
<script src="{% static 'vendor/libs/jquery-repeater/jquery-repeater.js' %}"></script>
<script src="{% static 'vendor/libs/flatpickr/flatpickr.js' %}"></script>
<script src="{% static 'vendor/libs/tagify/tagify.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/app-ecommerce-product-add.js' %}"></script>
{% endblock page_js %}

{% block content %}

  <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-6 gap-4 gap-md-0">
    <div class="d-flex flex-column justify-content-center">
      <h4 class="mb-1">Crear nueva Inmobiliaria</h4>
      <p class="mb-0">Crea una nueva Inmobiliaria</p>
    </div>
    <div class="d-flex align-content-center flex-wrap gap-4">
      <button class="btn btn-outline-secondary">Descartar</button>
      <button type="submit" class="btn btn-primary">Crear</button>
    </div>
  </div>

  <!-- Agregar Inmobiliaria -->
  
  <div class="card mb-6 p-6">
    <div class="card-header">
      <h5 class="card-tile mb-0">Informacion Inmobiliaria</h5>
    </div>
    <div class="card-body">
      <div class="row gx-5 mb-5">
        <!-- Nombre Legal -->
        <div class="col-12">
          <div class="form-floating form-floating-outline mb-3">
            <input type="text" class="form-control" placeholder="Ej: " name="nombre_legal">
            <label for="nombre_legal">Nombre Legal</label>
          </div>
        </div>
        <!-- Nombre Comercial -->
        <div class="col-6">
          <div class="form-floating form-floating-outline mb-3">
            <input type="text" class="form-control" placeholder="Ej: " name="nombre_comercial">
            <label for="nombre_comercial">Nombre Comercial</label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating form-floating-outline mb-3">
            <input type="text" class="form-control" placeholder="12.345.678-9" name="rut">
            <label for="ecommerce-product-name">RUT</label>
          </div>
        </div>
      </div>
      <!-- Descripcion colocar codigo para que retorne input -->
      <div>
        <label class="mb-1">Descripcion</label>
        <div class="form-control p-0 pt-1">
          <div class="comment-toolbar border-0 border-bottom">
            <div class="d-flex justify-content-start">
              <span class="ql-formats me-0">
                <button class="ql-bold"></button>
                <button class="ql-italic"></button>
                <button class="ql-underline"></button>
                <button class="ql-list" value="ordered"></button>
                <button class="ql-list" value="bullet"></button>
                <button class="ql-link"></button>
                <button class="ql-image"></button>
              </span>
            </div>
          </div>
          <div class="comment-editor border-0 pb-1" id="descripcion"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Detalles -->
  <div class="card mb-6 p-6">
    <div class="card-header">
      <h5 class="card-title mb-0">Detalles Inmobiliaria</h5>
    </div>
    <div class="card-body">  
      <div class="row gx-5">
        <h6>Contacto</h5>
        <!-- Correo -->
        <div class="col-4">
          <div class="form-floating form-floating-outline mb-3">
            <input type="email" class="form-control" placeholder="Ej: " name="correo">
            <label for="correo">Correo</label>
          </div>
        </div>
        <!-- Telefono -->
        <div class="col-4">
          <div class="form-floating form-floating-outline mb-3">
            <input type="text" class="form-control" placeholder="Ej: " name="correo">
            <label for="correo">Telefono</label>
          </div>
        </div>
        <div class="col-4">
          <div class="form-floating form-floating-outline mb-3">
            <input type="text" class="form-control" placeholder="Ej: " name="correo">
            <label for="correo">Fecha Creacion</label>
          </div>
        </div>
        <!-- Sitio Web -->
        <div class="col-12">
          <div class="form-floating form-floating-outline mb-3">
            <input type="text" class="form-control" placeholder="Ej: " name="correo">
            <label for="correo">Sitio Web</label>
          </div>
        </div>
        <h6>Ubicacion</h5>
        <!-- Direccion -->
        <div class="col-8">
          <div class="form-floating form-floating-outline mb-3">
            <input type="text" class="form-control" placeholder="Ej: " name="direccion_principal">
            <label for="direccion_principal">Direccion Principal</label>
          </div>
        </div>
        <!-- Numero direccion -->
        <div class="col-md-4 mb-5">
          <div class="form-floating form-floating-outline">
            <input type="text" name="numero_casa" class="form-control" placeholder="0452" />
            <label for="numero_casa">Numero</label>
          </div>
        </div>
        <!-- Comunas -->
        <div class="col-sm-6 mb-5">
          <div class="form-floating form-floating-outline">
            <select name="comuna" class="select2 form-select" data-placeholder="Seleccione una comuna" data-allow-clear="true">
              <option></option>
              {% for c in comunas %}
              <option value="{{c.id}}">{{c.nombre}}</option>
              {% endfor %}
            </select>
            <label for="comuna">Comuna</label>
          </div>
        </div>
        <!-- Provincias -->
        <div class="col-sm-6 mb-5">
          <div class="form-floating form-floating-outline">
            <select name="provincia" class="select2 form-select" data-placeholder="Seleccione una Provincia" data-allow-clear="true">
              <option></option>
              {% for p in provincias %}
              <option value="{{p.id}}">{{p.nombre}}</option>
              {% endfor %}
            </select>
            <label for="provincia">Provincia</label>
          </div>
        </div>
        <!-- Regiones -->
        <div class="col-sm-6 mb-5">
          <div class="form-floating form-floating-outline">
            <select name="region" class="select2 form-select" data-placeholder="Seleccione una Region" data-allow-clear="true">
              <option></option>
              {% for r in regiones %}
              <option value="{{r.numero}}">{{r.nombre}}</option>
              {% endfor %}
            </select>
            <label for="region">Region</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Imagen -->
  <div class="card mb-6">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0 card-title">Logo de Inmobiliaria</h5>
      <a href="javascript:void(0);" class="fw-medium">Add media from URL</a>
    </div>
    <div class="card-body">
      <form action="/upload" class="dropzone needsclick" id="dropzone-basic">
        <div class="dz-message needsclick">
          <div class="d-flex justify-content-center">
            <div class="avatar avatar-md">
              <span class="avatar-initial rounded bg-label-secondary">
                <i class="ri-upload-2-line ri-24px"></i>
              </span>
            </div>
          </div>
          <p class="h4 needsclick my-2">Drag and drop your image here</p>
          <small class="text-muted d-block fs-6 my-2">or</small>
          <span class="needsclick btn btn-sm btn-outline-primary" id="btnBrowse">Browse image</span>
        </div>
        <div class="fallback">
          <input name="file" type="file" />
        </div>
      </form>
    </div>
  </div>
{% endblock %}
