{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Permisos - Detalle{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/form-validation.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
<script src="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/new/app-access-permission-add-update.js' %}"></script>
<script src="{% static 'js/new/modal-detail-permisos.js' %}"></script>
<script src="{% static 'js/extended-ui-perfect-scrollbar.js' %}"></script>
{% endblock page_js %}


{% block content %}
<!-- Basic Bootstrap Table -->

<div class="card mb-6">
  <div class="card-body rounded p-sm-12 p-6 row g-2">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex svg-illustration align-items-center gap-3 mb-6">
        <span class="app-brand-logo demo">{% include 'partials/logo.html' %}</span>
        <span class="mb-0 app-brand-text fw-semibold">{% get_theme_variables 'template_name' %}</span>
      </div>
      <h6>{{producto.date_created|date:"d/m/Y"}}</h6>
    </div>
    <div class="col-md-12 mt-1 mb-6">
      <h4 class="role-title mb-0 pt-0 pb-0 m-0">{{producto.nombre}}</h4>
      <h6 class="role-title mb-0 pt-0 pb-0 m-0">{{producto.alias}}</h6>
      <p class="mb-0">{{producto.descripcion}}</p>
    </div>
  </div>
</div>



<!--/ Basic Bootstrap Table -->
{% endblock %}
