<!-- Style Switcher -->
<li class="nav-item dropdown-style-switcher dropdown me-2 me-xl-0">
	<a class="nav-link btn btn-text-secondary rounded-pill btn-icon dropdown-toggle hide-arrow me-sm-4" href="javascript:void(0);" data-bs-toggle="dropdown">
		<i class="ri-shopping-cart-2-line"></i>
	</a>
	<ul class="dropdown-menu dropdown-menu-end dropdown-styles">
		<li>
			<a class="dropdown-item" href="javascript:void(0);" data-theme="light">
					<span class="align-middle"><i class='ri-sun-line ri-24px me-3'></i>Light</span>
			</a>
		</li>
		<li>
			<a class="dropdown-item" href="javascript:void(0);" data-theme="dark">
					<span class="align-middle"><i class="ri-moon-clear-line ri-24px me-3"></i>Dark</span>
			</a>
		</li>
		<li>
			<a class="dropdown-item" href="javascript:void(0);" data-theme="system">
					<span class="align-middle"><i class="ri-computer-line ri-24px me-3"></i>System</span>
			</a>
		</li>
	</ul>
</li>
<!-- / Style Switcher-->
